.rotate {
  animation: rotate 200.5s linear infinite;
  width: 100%;
  border-radius: 50%;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.titlerow{
  text-align: center;
  align-content: center;
  justify-content: center;
}

.imagerow{
  text-align: center;
  align-content: center;
  justify-content: center;
}

.copyrightrow{
  align-content: center;
  justify-content: flex-end;
}

#title {
  position: fixed;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  position: relative;
  text-align: center;
  float: clear;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright {
  position: fixed;
  bottom: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
