.rotate {
  animation: rotate 100s linear infinite;
  width: 100%;
  border-radius: 50%;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner{
  justify-self: center;
  max-height:max-content;
  max-height: 90%;
  max-width: 90%;
}

.slide{
  justify-content: center;
  justify-self: center;
}

.titlerow{
  text-align: center;
  align-content: center;
  justify-content: center;
  color: black;
}

.imagerow{
  text-align: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
}

.background{
  background-color: white;
  justify-content: center;
  justify-self: center;
  align-content:center;
  align-self: center;
  height:100%;
}

.copyrightrow{
  align-content: center;
  justify-content: flex-end;
  color: black;
}

#title {
  position: fixed;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  position: center;
  text-align: center;
  float: clear;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright {
  position: fixed;
  bottom: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
