.title {
    text-align: center;
    align-items: center;
    align-self: center;
}

.backbutton{
    justify-content: self-start;
    justify-self: self-start;
    justify-items: self-start;
    align-items: center;
    align-content: center;
}

.addbutton{
    justify-content: center;
    align-self: center;
    align-content: center;
    height:fit-content;
    padding: 10px;
}

.toolbarfixed{
    position:fixed;
}

.buttoncontainer{
    justify-content: center;
    align-content: center;
    height: fit-content;
}

.addicon{
    font-size: 56px;
}

.bar-footer{
	height: auto;
}