.title {
    text-align: center;
    align-items: center;
    align-self: center;
}

.backbutton{
    justify-content: self-start;
    justify-self: self-start;
    justify-items: self-start;
    align-items: center;
    align-content: center;
}

.addbutton{
    justify-content: center;
    align-self: center;
    align-content: center;
    height:fit-content;
    padding: 10px;
}

.toolbarfixed{
    position:fixed;
}

.checkbox{
    align-self:flex-start;
    align-content: flex-start;
    position: absolute;
    z-index: 0;
}

.buttoncontainer{
    justify-content: center;
    align-content: center;
    height: fit-content;
}

.addicon{
    font-size: 56px;
}

.bar-footer{
	height: auto;
    background-color: white;
}

.slidecontainer{
    border: 1px solid black;
    display:inline-block;
    margin: 10px;
    width: 100px;
    height:100px;
    position: relative;
}

.userinput{
    border-top: 1px solid black;
}

.music{
    color: tomato;
    align-content: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 80px;
    top: 80px;
    z-index: 1;
}

.image{
    height:100px;
    width: 100px;
    position: absolute;
    z-index: -1;
}