# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/backend/node_modules
/.pnp
.pnp.js
/ios

/backend/tmp
/backend/app/public/views/MailingList.xls

# testing
/coverage

# production
/build
/android
/ios

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache
/.vs
.vs/
.vs/*
.vs/COMP0067_2021_Team16/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
