.editbutton{
    display: flex;
    justify-content: space-evenly;
}

.settingsbutton{
    display: flex;
    justify-content: space-evenly;
}

.addbutton{
    justify-content: center;
    align-self: center;
    align-content: center;
    height:fit-content;
    padding: 10px;
}

.buttoncontainer{
    justify-content: center;
    align-content: center;
    height: fit-content;
}

.addicon{
    font-size: 56px;
}

.bar-footer{
	height: auto;
}