.title {
    text-align: center;
    align-items: center;
    align-self: center;
}

.editbutton{
    justify-content: flex-start;
    align-items: flex-start;

}

.addbutton{
    justify-content: center;
    align-self: center;
    align-content: center;
}

.buttoncontainer{
    justify-content: center;
    align-content: center;
}

.addicon{
    font-size: 52px;
}