$light: #ebf7fd;
$medlight: #63848e;
$meddark: #304b5f;
$dark: #1d3344;
$c: center;
$r: relative;
$a: auto;

* {
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
}

*:focus {
  outline: 0 !important;
}

h1, label {
  color: $light;
}

.navbar .current {
  color: $light;
  text-decoration-line: underline;
}

.tableimg {
  width: 100px;
}

.slideshowimg {
  width: 50px;
}

.navbar {
  color: $light;
  background-color: $dark;
  padding: 10px 10px;
}

a {
  color: $light;
  padding: 10px 10px;
}

a:hover {
  color: $medlight;
}

th {
  border: 0.5px solid $medlight;
  background-color: $medlight;
  color: $light;
  padding: 10px 10px;
}

td {
  border: 0.5px solid $medlight;
  padding: 10px 10px;
  word-wrap: break-word;
}

td > * {
  vertical-align: middle;
}

span {
  padding: 0px 5px;
}

#top-image-area {
  background-color: $light;
  padding: 20px 20px;
}

#image-area, #images-area2, #slideshow-area {
  width: 80%;
  text-align: $c;
  position: $r;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $light;
}

#full-music {
  text-align: $c;
  position: $r;
  margin-left: $a;
  margin-right: $a;
  justify-content: $c;
  background-color: $light;
}

.jumbotron {
  background-color: $medlight;
  padding: 50px 100px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: $meddark;
  color: $light;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dark-label {
  color: $dark;
}

button:hover {
  opacity: 0.8;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

#home-image {
  text-align: $c;
  position: $r;
}

.container {
  width: 100%;
}

#excel {
  width: 200px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

#email-area {
  text-align: $c;
  position: $r;
  margin-left: $a;
  margin-right: $a;
  margin-top: 75px;
  margin-bottom: 50px;
}

.footer {
  position: $r;
  height: 25px;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $dark;
  color: $light;
  text-align: $c;
}
