.modalrow{
    text-align: center;
    align-content: center;
    justify-content: center;
  }
  p{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  iframe {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ion-button {
    width: 400px;
    margin: 20px;
    font-size: 30px;
  }

  #buttons {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }