.backbutton{
    justify-content: self-start;
    justify-self: self-start;
    justify-items: self-start;
    align-items: left;
    align-content: left;
}

.shuffle{
    margin:2%;
    padding:2%;
}
