* {
  font-family: "Quicksand", sans-serif;
}

*:focus {
  outline: 0 !important;
}

.navbar {
  color: #ebf7fd;
  background-color: #1d3344;
  padding: 10px 10px;
}

.navbar-brand {
  color: #ebf7fd;
  font-weight: 900;
}

a {
  color: #ebf7fd;
  padding: 10px 10px;
}

a:hover {
  color: #63848e;
}

th {
  border: 0.5px solid #63848e;
  background-color: #63848e;
  color: #ebf7fd;
  padding: 10px 10px;
}

td {
  border: 0.5px solid #63848e;
  padding: 10px 10px;
  word-wrap: break-word;
}

td > * {
  vertical-align: middle;
}

#email-area {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: #63848e;
}

button {
  background-color: #304b5f;
  color: #ebf7fd;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d3344;
  color: #ebf7fd;
  text-align: center;
  height: 25px;
}
