* {
  font-family: "Quicksand", sans-serif;
  color: #1d3344;
}

.tableimg {
  width: 100px;
}

a {
  color: #1d3344;
  padding: 10px 10px;
}

#login-form {
  border: 3px solid #ebf7fd;
  width: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #63848e;
}

th {
  border: 0.5px solid #63848e;
  font-weight: bold;
  padding: 10px 10px;
  word-wrap: break-word; 
  vertical-align: baseline;
}

td {
  border: 0.5px solid #63848e;
  padding: 10px 10px;
  word-wrap: break-word; 
  vertical-align: baseline;
}

#image-area {
  width: 80%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebf7fd;
}

.jumbotron {
  background-color: #63848e;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #304b5f;
  color: #ebf7fd;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

label {
  color: #ebf7fd;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 50%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}
