<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Add Images</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/cosmic.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body style="background-color: #ebf7fd">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Newborn Baby App</a>
                <a href="addslideshow.html">Add Slideshow</a>
                <a href="addimage.html">Add Image</a>
                <a href="addaudio.html">Add Audio</a>
            </div>
    </nav>
    <div class="jumbotron">
        <h1 class="text-center">Add Images</h1>
        <form action="action_page.php" method="post">
            <label for="name"><b>Name</b></label>
            <input type="text" id="name" placeholder="Enter Your Name" name="name" required>
            <label for="narration"><b>Narration</b></label>
            <input type="narration" placeholder="Enter Narration" name="narration">
            <button type="submit" id="image-submit">Submit</button>
        </form>
    </div>

    <div class="row">
        <div>
            <h2 style="text-align: center;">Images</h2>
            <hr>
            <div id="image-area"></div>
        </div>
    </div>


    <script type="text/javascript" src="../js/baby.js"></script>
</body>

</html>