<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Add Music</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/cosmic.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body style="background-color: #ebf7fd">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../index.html">
                    <h3>Newborn Baby App</h3>
                </a>
                <a href="addslideshow.html">Add Slideshow</a>
                <a href="addimage.html">Add Image</a>
                <a href="addaudio.html">Add Audio</a>
                <a class="current" href="addmusic.html">Add Music</a>
                <a href="mailinglist.html">Mailing List</a>
            </div>
    </nav>
    <div class="jumbotron">
        <h1 class="text-center">Add Music</h1>
        <form id="form" method="POST" action="/music/new" enctype="multipart/form-data">
            <input type="file" id="audiotag" name='audio' accept="audio/mp3, audio/x-m4a" required><br><br>
            <div id="hide-audio" style="display:none;"><audio id="preview" controls>
                    <source src="" id="src" />
                </audio><br><br></div>
            <label for="audiotag"><b>(Only .mp3 and .m4a audio
                    files are supported. Max size: 5MB)</b></label><br>
            <button id="audio-submit" type="submit">Submit</button>
        </form>
    </div>

    <div id="full-music" class="row">
        <div>
            <h2 style="text-align: center;">Music</h2>
            <hr>
            <div id="music-area"></div>
        </div>
    </div>

    <div class="results-footer">
        <p>Copyright © 2016 Cosmic Baby Books - All Rights Reserved.</p>
    </div>
    <script type="text/javascript" src="../js/addmusic.js"></script>
</body>

</html>