<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Mailing List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/cosmic.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/mailinglist.css">
</head>

<body style="background-color: #ebf7fd">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../index.html">
                    <h3>Newborn Baby App</h3>
                </a>
                <a href="addslideshow.html">Add Slideshow</a>
                <a href="addimage.html">Add Image</a>
                <a href="addaudio.html">Add Audio</a>
                <a href="addmusic.html">Add Music</a>
                <a class="current" href="mailinglist.html">Mailing List</a>
            </div>
    </nav>
    <div class="jumbotron">
        <h1 class="text-center">Mailing List</h1>
        <form id="form" method="POST" action="/mailinglist/new">
            <label for="email_first_name"><b>First Name</b></label><br>
            <input id="email_first_name" type="text" placeholder="Enter first name" name="email_first_name" required>
            <br><br>
            <label for="email_last_name"><b>Last Name</b></label><br>
            <input id="email_last_name" type="text" placeholder="Enter last name" name="email_last_name" required>
            <br><br>
            <label for="email_address"><b>Email Address</b></label><br>
            <input id="email_address" type="text" placeholder="Enter email address" name="email_address" required>
            <br><br>
            <button id="image-submit" type="submit">Submit</button>
        </form>
    </div>

    <div class="row">
        <button id="excel" style="width: 200px; position: absolute; right: 0;">Export to Excel</button>
    </div>
    <div class="row">
        <div id="email-area"></div>
    </div>

    <div class="footer">
        <p>Copyright © 2016 Cosmic Baby Books - All Rights Reserved.</p>
    </div>
    <script type="text/javascript" src="../js/mailinglist.js"></script>
</body>

</html>